<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">AOT Coding test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/groups']">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">My groups</a>
      </li> -->

    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign-in']" *ngIf="router.url !=='/sign-in'">Sign In </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign-up']" *ngIf="(router.url !=='/sign-up' && router.url !=='/' )">Sign Up</a>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>