<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="col-md-6 col-sm-12 text-right">
      <button class="btn btn-info" type="button" (click)="switchData()">
        {{ switchForm ? "Groups" : "New group" }}
      </button>
    </div>
  </div>
  <div class="row" *ngIf="!switchForm">
    <div class="col-md-12 col-md-12 form-inline">
        <input type="text" class="form-control col-md-6 col-sm-12" (keyup)="searchGroup()" [(ngModel)]="search" placeholder="search">
        <!-- <button type="button" class="btn btn-outline-primary ml-1" (click)="searchGroup()">Search</button> -->
    </div>
    <div class="col-md-12 col-md-12">

      <table class="table mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups">
            <th scope="row"> {{group.id}} </th>
            <td>{{ group.name | titlecase }}</td>
            <td>{{ group.description | titlecase }}</td>
            <td id="action">
              <button *ngIf="group.createdBy !== user.id" class="btn btn-sm btn-outline-info" (click)="joinGroup(group.id)">Join</button>
              &nbsp;
              <button *ngIf="group.createdBy == user.id" class="btn btn-sm btn-outline-success" (click)="getGroup(group.id)">Edit</button>
              &nbsp;
              <button *ngIf="group.createdBy == user.id" class="btn btn-sm btn-outline-danger" type="button" (click)="deleteGroup(group.id)">Delete</button>
            </td>
          </tr>
          <tr *ngIf="groups.length == 0">
              <td colspan="4" class="text-center">
                  No records found.
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="switchForm">
    <div class="col-md-12 col-sm-12">
      <!-- <p>Edit</p> -->
      <form novalidate action="" (ngSubmit)="saveGroup()" [formGroup]="groupForm">
        <div class="form-group col-md-6 col-sm-12">
            <label for="name">Name</label>
            <input type="text" 
                   class="form-control" 
                   formControlName="name" 
                   required 
                   minlength="1"
                   placeholder="Name (required)" 
                   [ngClass]="{'is-invalid':(groupForm.get('name').touched || groupForm.get('name').dirty) && !groupForm.get('name').valid}">
            <span class="invalid-feedback">
                <span *ngIf="groupForm.get('name').errors?.required">
                    Please enter a group name.
                </span>
                <span *ngIf="groupForm.get('name').errors?.minlength">
                    Name must be greater than 1 characters.
                </span>
            </span>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="description">Description</label>
            <input type="text" 
                   class="form-control" 
                   formControlName="description" 
                   placeholder="Description">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <button class="btn btn-info" [disabled]="!groupForm.valid" type="submit">{{ edit ? "Update" : "Submit"}}</button>
        </div>
      </form>
      <small class="">{{infoMessage}}</small>
    </div>
  </div>

</div>