a#view-members{
	margin-right: 2em;
	cursor: pointer;
}

td#action{
	display: inline-flex !important;
	text-align: center;
}

.container {
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #dee3dd;
    /* max-width: 580px; */
}