/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    /*font-family: 'Comic Neue', cursive;*/
    font-family: 'Montserrat', sans-serif;
    /*sokeno$123*/

    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .container {
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #dee3dd;
    max-width: 700px;
} */
.red{
    color: red;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
}

.btn-info {
    color: #fff;
    background-color: #73c569;
    border-color: #73c569;
}

.btn-outline-info {
    color: #343a40;
    border-color: #73c569;
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #73c569;
    border-color: #73c569;
}

.table .thead-dark th {
    color: #202529;
    background-color: #dee3dd;
    border-color: #dee3dd;
}
.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #73c569;
    border-color: #73c569;
}
a {
    color: #73c569;
    text-decoration: none;
    background-color: transparent;
}
