/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    /*font-family: 'Comic Neue', cursive;*/
    font-family: 'Montserrat', sans-serif;
    /*sokeno$123*/
    /* background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover; */
}
main.container{
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 2em;
	background-color: #dee3ddf0;
}
.red{
    color: red;
}